# Code owners for sail-money/Sailor
# Syntax: https://docs.github.com/articles/about-code-owners
# The @sail-money/devs team must have write access for team ownership to apply.

*                            @sail-money/devs @aadopii
